.div{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: $color_background;
    &__centrado{
        display: flex;
        justify-content: center;
    }
    &__img{
        margin-bottom: 3.5rem;
        width: 90rem;
        height: 53rem;
    }
    &scale-up-hor-center {
        -webkit-animation: scale-up-hor-center 0.5s both;
                animation: scale-up-hor-center 0.5s both;
    }
    &puff-in-center{
        -webkit-animation: puff-in-center 8s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
	        animation: puff-in-center 8s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
    }
    &__main{
        display: flex;
        margin-bottom: 3.5rem;
    }
    &__mainderecha{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 3.5rem;
    }
    &__img_curso{
        width: $img_width;
        height: $img_heigth;
    }
    &__img_cursos{
        width: $img_cursos_width;
        height: $img_cursos_heigth;
        margin-bottom: 3.5rem;
    }
    &__txt_curso{
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        font-family: $div_formatotexto;
        font-size: 15px;
        letter-spacing: 0.4px;
        word-spacing: -2.8px;
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
    }
    &__video{
        border:$bordes;
        margin-bottom: 3rem;
    }
    &ajuste__texto{
        height: 7rem;
        width: 35rem;
        margin-bottom: 5rem;
        align-items: center;
    }
    &contenedor_a_posicionar{
        display: flex;
        border:$bordes;
        flex-basis: 100%;
        padding: 1rem 2rem;
        gap: 2rem;
    }
  }




