
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-left: 2rem;
    &footer_right{
        display: flex;
        flex-direction: column;
        justify-items: right;
        align-items: end;
    }
    &__texto{
        display: flex;
        justify-content: center;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
        letter-spacing: -2.6px;
        word-spacing: 2.2px;
        color: #4F4F4F;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
        text-transform: capitalize;
        background-color: lightgray;
    } 
    &__texto_dir{
        display: flex;
        flex-direction: row;
        font-family: "Arial", Gadget, sans-serif;
        font-size: 15px;
        letter-spacing: 0.4px;
        word-spacing: -2.8px;
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
    }
    &mapa{
        border: #000000 1px solid;
    }
}




