.header{
    display: flex;
    padding: $heade_padding;
    justify-content: space-between;
    &__logo{
        width: $img_width;
        height: $img_heigth;
    }
    &_contacto {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }   
    &_bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
    &__text{
        display:flex;
        margin-top: 4rem;
        margin-right: auto;
        font-family: $header_tipodefuente_encabezado;
        font-size: $header_size_texto_encabezado;
        letter-spacing: -2.6px;
        word-spacing: 2.2px;
        color: $header_colorfuente;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
        text-transform: capitalize;
        background-color: $color_background;
    }
    &__navegacion{
        display: flex;
        justify-content: space-between;
    }
    &__encabezado{
        display:flex;
        justify-content: center;
        font-family: $header_tipodefuente_encabezado;
        font-size: $header_size_texto_encabezado;
        letter-spacing: -2.6px;
        word-spacing: 2.2px;
        color:$header_colorfuente;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
        text-transform: capitalize;
        background-color: $color_background;
    }
    &__navegacion{
        display: flex;
        justify-content: space-between;
    }
    &items__navegacion{
        display:flex;
        flex-direction: row;
        margin-right: auto;
        padding: 1rem;
        margin-top: 2.35rem;
        font-family: $header_tipodefuente_encabezado;
        font-size: $header_size_texto_items;
        letter-spacing: -2px;
        word-spacing: 1.4px;
        color: $header_colorfuente;
        font-weight: 700;
        text-decoration: $header_items_color;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
    }
    &__active, .items__navegacion:hover{
        background-color: #000000;
        color: aliceblue;
    }
}


