
/* Media query */
@media screen and (max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__navegacion{
        display: flex;
        flex-direction: row;
    }
    .div__img{
        width: 13rem;
        height: 8rem;
    }
    .div__img_curso{
        width: 8rem;
        height: 8rem;
    }
    .div__txt_curso{
        font-size: 10px;
        letter-spacing: 0.4px;
        margin-top: 2rem;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        margin:auto;
    }
    .header__text{
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
    .contenedor_a_posicionar{
        padding: 0;
        gap:0;
    }
    .div__video{
        width: 425px;
        height: 280px;
        margin-bottom: 6rem;
    }
    .ajuste__texto{
        width: 19rem;
        margin-bottom: 6rem;
    }
    .mapa{
        width: 189px;
        height: 75px;
    }
    .texto_dir_footer{
        font-size: 12px;
    }
    .texto__footer{
        justify-content: left;
    }
}
@media screen and (max-width: 768px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__navegacion{
        display: flex;
        flex-direction: row;
    }
    .div__img{
        width: 20rem;
        height: 10.5rem;
    }
    .div__img_curso{
        width: 5rem;
        height: 5rem;
    }
    .div__txt_curso{
        margin-top: 0rem;
        font-size: 15px;
        letter-spacing: 0.1px;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        margin:auto;
    }
    .header__text{
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
    .mapa{
        width: 300px;
        height: 120px;
    }
    .texto_dir_footer{
        font-size: 12px;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-11 20:27:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }

   /* ----------------------------------------------
 * Generated by Animista on 2023-1-11 23:26:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }