
$color_background: lightgrey;

$heade_padding: 0.5rem 1rem;
$header_items_color: underline solid rgb(68, 68, 68);
$header_size_texto_encabezado: 25px;
$header_size_texto_items: 17px;
$header_tipodefuente_encabezado: Verdana, Geneva, sans-serif;
$header_colorfuente: #4F4F4F;

$img_width: 10rem;
$img_heigth: 10rem;

$div_formatotexto: "Arial", Gadget, sans-serif;

$bordes:  #000000 1px solid;

$fuente_footer: Verdana, Geneva, sans-serif;